{% extends 'base.html' %}

{% block body %}
{% load static %}


<div class="container">
    <img src="{% static 'about-us.jpg' %}" style="width:100%">
    <h2 class="doabout text-center"><b>ABOUT US</b></h2>

    <div class="jumbotron text-center">
        <h5>Interactive textbook for Jagriti.<hr><br>

            We Are Alice. An Online Eduacation Plateform For Quality Education.<br>
            
            Made By- Animesh Kumar, Somya Prajapati and Abhishek Yadav </h5>
        <hr><hr>
    </div>

</div>

{% endblock %}