<!DOCTYPE html>
<html>
<head>
     <!-- Required meta tags -->
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 
     <!-- Bootstrap CSS -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
     <link rel="stylesheet" href="styles.css">
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.min.css">
 
<style>
* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  padding: 10px;
  background: #f1f1f1;
}

/* Header/Blog Title */
.header {
  padding: 30px;
  text-align: center;
  background: white;
}

.header h1 {
  font-size: 50px;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  background-color: #f1f1f1;
  padding-left: 20px;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 5px;
  text-align: center;
  background: dimgray;
  color: aliceblue;
  margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}
</style>
</head>
<body>

    <div class="container">
<div class="header">
  <h1>LCM and HCF (लघुत्तम समापवर्तक और महत्तम समापवर्तक)</h1>
  <p>Chapter 1</p>
</div>

<div class="row">
  <div class="leftcolumn">
    <div class="card">
      <!-- <h2>TITLE HEADING</h2>
      <h5>Title description, Dec 7, 2017</h5> -->
      <div class="fakeimg" style="height:200px;"></div>
      <p></p>
      <p>लघुत्तम और महत्तम समापवर्तक
        जैसा की आपको पता है कि प्रतियोगी परीक्षा में इस अध्याय से 1-2 प्रश्न अवश्य ही पूछे जाते है इसलिए यह अनिवार्य हो जाता है की हम इस अध्याय की बारीकियों सो समझे और आवश्यक सिध्दांत याद कर लें .
        लघुत्तम समापवर्तक :- दो या दो से अधिक संख्याओं का लघुत्तम (LCM) या ल.स. वह छोटी से छोटी संख्या है जिसमे दी गयी संख्याओं से पूरा पूरा भाग लग जाता है.
        मान लीजिये की आपको उस छोटी संख्या के बारे में जानना है जिसमे 2, 3 एवं 4 से भाग लग जाता हो तो अवश्य ही आपका उत्तर 12 होगा और आपका उत्तर ही लघुत्तम है.
        लघुत्तम समापवर्तक निकलने की विधियाँ :-
        1. गुणनखंड विधि :- इस विधि में सबसे पहले संख्याओं के अभाज्य गुणनखंड कर उभयनिष्ठ गुणनखंड को केवल एक बार चुनकर अन्य सभी गुणनखंड को आपस में गुना करने पर आपको हल प्राप्त होता है, जिसे ल.स. भी कहा जाता है .
        उदाहरण :- 12, 16, 18 का ल.स. निकालें.
        हल :- 12 = 2 x 2 x 3
        16 = 2 x 2 x 2 x 2
        18 = 2 x 3 x 3
        ल.स. (12, 16, 18) = 2 x 2 x 2 x 2 x 3 x 3 = 144 <br><br>
        2. भाग विधि :- इस विधि के लिए सभी संख्याओं को कॉमा (,) लगाकर पंक्तिबद्ध करते है और फिर उन्हें सबसे छोटी अभाज्य संख्या जिससे कम से कम दो संख्या विभाजित हो से भाग देते है और प्राप्त भागफल को संख्या के नीचे और वो सभी संख्या भी जो विभाजित नहीं हुई हो अगली पंक्ति में लिखते है. यह प्रक्रिया तब तक दोहराते हैं जब तक की अंतिम पंक्ति में सभी अभाज्य संख्या न बच जाये.
        उदाहरण :- 12, 16, 18 का लघुत्तम निकाले
        हल : -
        
        ल.स. = 2 x 3 x 2 x 2 x 2 x 3 = 144<br><br>
        3. समुच्चय विधि :- इस विधि में सबसे पहले प्रत्येक संख्या का गुणन लिखते है और ऐसा करने के बाद जो गुणन सभी समुच्चय में शामिल हो और सबसे छोटा हो को चुन लेते हैं और यही आपका ल.स. होता है .
        उदाहरण :- 12, 16, 18 का ल.स. निकालें.
        A = { 12, 24, 36, 48, 60, 72, 84, 96, 108, 120, 132, 144, 156, 168, 180 ......}
        B = { 16, 32 , 48, 64, 80, 96, 112, 128, 144, 160 ......}
        C = { 18, 36, 54, 72, 90, 108, 126, 144, 162, 180 ---}
        यहाँ आप देख पा रहे हैं की तीनो समुच्चय में 144 सबसे छोटी संख्या है जो उभयनिष्ठ है. अतः ल.स. = 144
        महत्तम समापवर्तक :- वह बड़ी से बड़ी संख्या जो दी हुई संख्याओं को पूर्णतया विभाजित कर दे संख्या का महत्तम समापवर्तक कहलाता है इसे HCF या म.स. भी लिखते है .
        उदाहरण :- 12,18 और 24 का म.स. निकालें.<br><br>
        हल :- तीनो संख्या 12,18 , 24 का समापवर्तक 2, 3 एवं 6 है और इनमे सबसे बड़ी संख्या 6 है अतः इनका म.स. = 6 होगा
        महत्तम निकलने की विधियाँ :-
        1. गुणनखंड विधि:- इस विधि में सबसे पहले सभी संख्या का अभाज्य गुणनखंड निकला जाता है. इसके बाद उभयनिष्ठ गुणनखंड को लिखा जाता है जो इन संख्या का म.स. होता है.
        उदाहरण :- 12,18 और 24 का म.स. निकालें.
        हल :- 12 = 2 X 2 X 3
        18 = 2 X 3 X 3
        24 = 2 X 2 X 2 X 3
        म.स. = 2 X 3 = 6
        2. भाग विधि:- इस विधि में दी हुई संख्याओं में से सबसे पहले दो संख्याओं का महत्तम समापवर्तक ज्ञात करते है. इस विधि में छोटी संख्या से बड़ी संख्या को भाग देते हैं और जो शेष बचता है उससे छोटी संख्या अर्थात भाजक को भाग देते हैं और फिर जो शेष बचता है उससे प्रथम शेष को भाग देते है और यह प्रक्रिया दोहराते हैं जब तक की शेष शून्य न बच जाये. अंतिम भाजक ही इन संख्या का म.स. होगा .
        उदाहरण :- 18 और 24 का म.स. निकालें.
        हल :-
        <br><br>
        म.स. = 6
        दो संख्याओं का ल.स. और म.स. हम
        सूत्र से :- दो संख्या का गुणनफल = ल.स. X म.स.
        निकाल सकते हैं .
        भिन्न का लघुत्तम और महत्तम निकालना
        भिन्न का लघुत्तम = अंश का लघुत्तम/ हर का महत्तम
        भिन्न का महत्तम = अंश का महत्तम/ हर का लघुत्तम
        उदाहरण :-
        हल :- ल.स. = 72, 126 एवं 162 का ल.स.
        250 , 75 एवं 165 का म.स.
        = 756
        5<br><br>
        आइये अब कुछ उदाहरणों के द्वारा हम इसे समझने की कोशिश करें
        1. यदि दो संख्या का म.स. और ल.स. क्रमशः 27 एवं 2079 है और उनमे से एक संख्या 189 हो तो दूसरी संख्या निकाले .
        हल :- दो संख्या का गुणनफल = ल.स. x म.स.
        189 x p = 2079 x 27
        p = 297
        2. वह छोटी से छोटी संख्या बताये जो 15, 25, 35 तथा 45 से भाग देने पर क्रमशः 7, 17, 27, तथा 37 शेष बचे .
        (सूत्र :- वह छोटी से छोटी संख्या बताये जो x, y, z तथा p से भाग देने पर क्रमशः a,b, c, तथा d शेष बचे तो संख्या = ल.स.(x, y,z, p) – k जहाँ k = (x-a) = (y-b)= (z-c) = (p-d) )
        यहाँ 15- 7 = 8 , 25 – 17 = 8, 35- 27 = 8, 45- 37 = 8
        
        अतः अभीष्ट संख्या = 1575 – 8 = 1567<br><br>
         
        3. वह छोटी से छोटी संख्या ज्ञात करें जो 10, 20, 30, 40 तथा 50 से भाग देने पर प्रत्येक दशा में 7 शेष बचे .
        हल :- (सूत्र :- वह छोटी से छोटी संख्या बताये जो x, y, z तथा p से भाग देने पर प्रत्येक दशा में सामान शेष (k) बचे तो संख्या = ल.स.(x, y,z, p)+ k )
        अभीष्ट संख्या = ल.स.(10,20,30,40,50) +7
        = 600 + 7 = 607<br><br>
         
        </p>
    </div>
    <div class="card">
      <h2></h2>
      <h5></h5>
      <div class="fakeimg" style="height:200px;"></div>
      <p></p>
      <p>4. चार अंक की सबसे छोटी संख्या ज्ञात करे जो 2, 3, 4, 5, 6 और 7 से पूर्ण रूप से भाज्य हो .
        हल :- सबसे पहले हम 2, 3, 4, 5, 6 और 7 का ल.स. निकालेंगे
        ल.स. (2, 3, 4, 5, 6 और 7) = 420
        चूँकि हमें 4 अंक की संख्या चाहिए अतः अभीष्ट संख्या अवश्य ही 420 का गुणक होगा.
        अभीष्ट संख्या = 420 x 3 = 1260<br><br>
         
        5. छः घंटिया आरम्भ में एक साथ बजती है. यदि ये घंटिया 2, 4, 6, 8, 10 तथा 12 सेकंड के अन्तराल से बजे तो 30 मिनट में वे कितनी बार एक साथ बजेगी .
        हल :- सबसे पहले हम 2, 4, 6, 8, 10 तथा 12 का ल.स. निकालेंगे
        ल.स.( 2, 4, 6, 8, 10 तथा 12) = 120 सेकंड = 2 मिनट के बाद एक साथ बजेगी
        अतः 30 मिनट में 30/2 + 1 = 16 बार बजेंगी<br><br>
         
        6. चार अंको की बड़ी से बड़ी संख्या बताएं तो 15, 18, 21 तथा 24 से विभाजित हो
        हल :- सबसे पहले हम 15, 18, 21 तथा 24 का ल.स. से चार अंक की सबसे बड़ी संख्या 9999 में भाग देंगे और शेष को 9999 में घटा देंगे
        ल.स.( 15, 18, 21 तथा 24) = 2520
        9999 ÷ 2520 में शेष = 2439 , अतः अभीष्ट संख्या = 9999 – 2439 = 7560<br><br>
         
        7. वह छोटी से छोटी संख्या निकालें जिसमे 3, 5, एवं 7 से भाग देने पर शेष क्रमशः 1, 2 व 3 बचे
        हल :- यदि संख्या N है तो
        7 से भाग देने पर शेष 3 बचे = 7 k + 3
        5 से भाग देने पर शेष 2 बचे = 7 k + 3 - 2 = 7k + 1
        चूँकि 5 से भाग देने पर इकाई अंक 0 या 5 होना आवश्यक है अतः संख्या = 15 ( 7 x 2 + 1 ), 50 ( 7 x 7 + 1 ) --
        3 से भाग देने पर शेष 1 बचे = 52<br><br>
         
        8. वह छोटी से छोटी संख्या निकालें जिसे 5, 6, 7, 8 से भाग देने पर 3 शेष बचता है परन्तु 9 से भाग देने पर कोई शेष नही बचता?
        हल :- 5, 6, 7, 8 का ल.स. = 840
        चूँकि शेष 3 बच रहा है अतः संख्या = 840 k + 3 होगा
        इसे 9 से भाग देने पर शेष शून्य बचता है अतः (840 k + 3)/9 = 0
        (9 x 93k + 3k + 3)/ 9
        = 3k + 3 = 9
        k = 2
        अतः संख्या = 840 k + 3 = 1683<br><br>
        9. उदाहरण :- वह छोटी से छोटी संख्या बताईए जिसे 7,9,11से भाग देने पर क्रमश: 3,2,1शेष बचे। 
        हल :- x=7.l+3.. .....(1)
        x=9.m+ 2..... (2)
         x=11.n+1.......(3)
        ➡2x=7.l'+ 6, जहाँ l’ = 2l
             2x= 9.m'+4, जहाँ m’ = 2m
              2x=11.n'+2.  जहाँ n’ = 2n
        उपरोक्त समीकरण को दुबारा लिखने पर
        ➡ 2x= 7.l'+13-7,
               2x=9.m'+13-9,
               2x=11.n'+13-11.
        ➡2x=7.l"+ 13, जहाँ l’’ = l’ – 1
             2x=9.m"+ 13,  जहाँ m’’ =m’ –  1
             2x=11.n"+13.  जहाँ n’’ = n’ –  1
        ➡ 2.x=7.9.11+13
                   =693+13
                   = 706
        ➡	x= 353<br><br></p>
    </div>
  </div>
  <div class="rightcolumn">
    <div class="card">
      <h2>About Me</h2>
      <div class="fakeimg" style="height:100px;">Image</div>
      <p> We Are Alice. An Online Eduacation Plateform For Quality Education.<br>
            
        Made By- Animesh Kumar, Somya Prajapati and Abhishek Yadav </p>
    </div>
    <div class="card">
      <h3>Popular Post</h3>
      <div class="fakeimg"><p>Image</p></div>
      <div class="fakeimg"><p>Image</p></div>
      <div class="fakeimg"><p>Image</p></div>
    </div>
    <div class="card">
      <h3>Follow</h3><br><br>
      <a class="btn btn-social-icon btn-instagram" href="https://instagram.com/jagrati.iiitdmj?igshid=1deuevtefgqnb"><i class="fa fa-instagram"></i></a>
    </div>
  </div>
</div>

<div class="footer">
  
  <p>
    copyright &copy; ALICE
    <span id="date"></span>. all rights reserved
  </p>
</div>
 <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  </body>
</html>

</body>
</html>
