{% extends 'user_nav.html' %}

{% block body %}
    <h1>Chapter Index</h1>
    <p>1. <a href="{% url 'Book:chapter_name' 1 %}">संख्या पद्धति
    </a></p>
    <p>2. <a href="{% url 'Book:chapter_name' 2 %}">पूर्ण संख्याओं पर आधारभूत संक्रियाएं
    </a></p>
    <p>3. <a href="{% url 'Book:chapter_name' 3 %}">गुणनखंड तथा गुणज
    </a></p>
    <p>4. <a href="{% url 'Book:chapter_name' 4 %}">ल.स. तथा म.स.
    </a></p>
    <p>5. <a href="{% url 'Book:chapter_name' 5 %}">भिन्नात्मक संख्याएं
    </a></p>
    <p>6. <a href="{% url 'Book:chapter_name' 6 %}">संख्या पद्धति
    </a></p>
    <p>7. <a href="{% url 'Book:chapter_name' 7 %}">संख्या पद्धति
    </a></p>
    <p>8. <a href="{% url 'Book:chapter_name' 8 %}">संख्या पद्धति
    </a></p>
    <p>9. <a href="{% url 'Book:chapter_name' 9 %}">संख्या पद्धति
    </a></p>
    <p>10. <a href="{% url 'Book:chapter_name' 10 %}">संख्या पद्धति
    </a></p>
    <p>11. <a href="{% url 'Book:chapter_name' 11 %}">संख्या पद्धति
    </a></p>
    <p>12. <a href="{% url 'Book:chapter_name' 12 %}">संख्या पद्धति
    </a></p>
    <p>13. <a href="{% url 'Book:chapter_name' 13 %}">संख्या पद्धति
    </a></p>
    <p>14. <a href="{% url 'Book:chapter_name' 14 %}">संख्या पद्धति
    </a></p>
    <p>15. <a href="{% url 'Book:chapter_name' 15 %}">संख्या पद्धति
    </a></p>
{% endblock %}